:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --btn-hover-color: #97caf4;
    --primary-white-color: #FFFFFF;
    --background-black-color: #2F303A;
    --background-second-color: #F5F4FA;
}

ul { 
    padding-inline-start: 0; 
}

li {
    list-style: none;
}

button {
    border: none;
}

html,
.body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    height: 100%; 
}

/* header */

.header{
    width: 1600px;
}

/* header logo */

.logo ,
.footer-logo {
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo {
    
}

.span {
    color: var(--accent-color);
}

.logo:hover
.logo:focus {
    color: var(--accent-color)
}

/* header site-nav */

.site-nav {
    
}

.site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color)
}

.site-nav .link.current {
    color: var(--accent-color)
}

/* header contacts */

.contacts-nav {
    
}

.contacts-nav .item ,
.footer-contacts .item {
    color: var(--primary-text-color);
    text-decoration: none;

}

.contacts-nav .item:hover, 
.footer-contacts .item:focus {
    color: var(--accent-color);
    text-decoration: none;  
}

/* title styles */

.section-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.44;
    text-align: center;
    letter-spacing: 0.03em;
}

.features-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* section hero */

.hero {
    width: 1600px;
    height: 600px;
    background-color: var(--background-black-color);
}

.hero-container {
    width: 696px;
    height: 120px;
    gap: 35px;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* hero button */

.button {
    width: 216px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    cursor: pointer;
    }

    .button:hover, 
    .button:focus {
      background-color: var(--btn-hover-color);
    }
    
/* section future */

 .features {
  
   
 }

 .features-list {
    
 }

 .section {
    
}

 .section-cards {
   
 }
 
 .section-team {
    width: 1600px;
    height: 648px;
    background: var(--background-second-color);
    }

.team-title {
    
}

 .team-cards {
    width: 1170px;
    height: 368px;
    text-align: center;
 }

 .name-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
 }

 .card {
    width: 270px;
    height: 368px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
 
 .footer {
    
    width: 1600px;
    height: 252px;
    background: var(--background-black-color);
    
 }

 .footer-logo {
    
 }

 .footer-address {
   
 }

 .address {
    color: var(--primary-white-color);
    font-style: normal;
 }

 /* portfolio css */

 .portfolio {
    
}

.portfolio-menu {
  
}

.filter-btn {
    width: 130px;
    height: 38px;
    background: var(--background-second-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.portfolio-menu .filter-btn.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.filter-btn.current {
    width: 73px;
    height: 38px;
}

.filter-btn:hover, 
.filter-btn:focus {
    background-color:  var(--accent-color);
    color: var(--primary-white-color);
   
}

/* portfolio main box */ 

.main-box {
    
}

.box {
    width: 370px;
    height: 404px;
    background: var(--background-second-color);  
}





